@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(0, 0, 0);
  line-height: 1;
  font-family: "Playfair Display", serif;
  font-size: calc(12px + 13 * ((100vw - 320px) / 1600));
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Playfair Display", serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(255, 240, 212);
  letter-spacing: 0.04em;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 100rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__cont {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__cont {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgb(255, 240, 212);
  border: 1px solid #000000;
  padding: 20px;
  width: 100%;
  max-width: 540px;
  border-radius: 20px;
}

.lock .popup__cont {
  visibility: visible;
}

.popup__close {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  left: 15px;
  top: 0;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(0, 0, 0);
}

.popup__close:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__img {
  margin-right: 50px;
}

.popup__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 10px;
  max-width: 50%;
}

.popup__cards-item img {
  margin-bottom: 30px;
  max-width: 100px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__title {
  border: 1px solid rgba(238, 111, 87, 0.5);
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  text-align: start;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__cont {
  border-bottom: 1px solid rgba(28, 110, 164, 0.5);
  padding: 0.625rem 0.9375rem;
}

.tabs__body img {
  height: auto;
  width: 100%;
  max-width: 630px;
  opacity: 0.9;
}

.body__cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 50px;
}

.body__cont p {
  text-align: left;
}

h3 {
  font-size: calc(15px + 20 * ((100vw - 320px) / 1600));
  text-align: center;
}

.cost {
  text-align: end;
  display: block;
  margin-top: 3%;
  position: relative;
}

.cost::before {
  content: "";
  position: absolute;
  left: 86%;
  bottom: -7px;
  width: 190px;
  height: 14px;
  -webkit-transform: skew(-12deg) translateX(-50%);
      -ms-transform: skew(-12deg) translateX(-50%);
          transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.descr {
  font-size: calc(12px + 13 * ((100vw - 320px) / 1600));
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  outline: none;
  border: 1px solid #F18230;
  border-radius: 25px;
  height: 46px;
  font-size: calc(17px + 8 * ((100vw - 320px) / 1600));
  line-height: 0;
  text-decoration: none;
  color: rgb(252, 214, 0);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  vertical-align: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.btn span {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 25px;
  height: 42px;
  line-height: 38px;
  border: 1px solid #F18230;
  border-radius: 25px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #F18230;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
  text-align: center;
  font-weight: 600;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0 3px lightskyblue;
          box-shadow: 0 0 0 3px lightskyblue;
}

.btn:hover span {
  background-color: #fba768;
}

.btn:active span {
  background-color: #c17237 !important;
}

.btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.underline {
  color: #000000;
  position: relative;
}

.underline:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background-color: rgba(238, 111, 87, 0.5);
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.underline:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 1px;
  background-color: rgba(238, 111, 87, 0.5);
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

[class*=__content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header {
  position: relative;
  min-height: 100vh;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__img {
  -webkit-box-shadow: 10px 10px 5px 3px rgba(34, 60, 80, 0.6);
          box-shadow: 10px 10px 5px 3px rgba(34, 60, 80, 0.6);
}

.hero__img img {
  position: relative;
  z-index: -1;
  opacity: 0.9;
  height: auto;
  width: 100%;
  max-width: 700px;
}

.hero__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 45%;
}

.header__logo {
  font-size: calc(15px + 30 * ((100vw - 320px) / 1600));
  font-family: "Alice", serif;
}

.hero__name {
  display: block;
  font-family: "Alice", serif;
  font-size: calc(25px + 20 * ((100vw - 320px) / 1600));
  margin: 50px 0 50px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
  margin-top: 50px;
  border-bottom: 1px outset #F18230;
  border-radius: 9px;
  padding-bottom: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(20px + 5 * ((100vw - 320px) / 1600));
}

.menu__list li:not(:last-child) {
  margin: 0 50px 0 0;
}

.icon-menu {
  display: none;
}

.footer {
  font-size: calc(15px + 5 * ((100vw - 320px) / 1600));
  border-top: 1px solid;
  border-color: #C4C4C4;
  -webkit-box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.28);
          box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.28);
}

.footer__content {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.about__img {
  -webkit-box-shadow: 10px 10px 5px 3px rgba(34, 60, 80, 0.6);
          box-shadow: 10px 10px 5px 3px rgba(34, 60, 80, 0.6);
}

.about img {
  height: auto;
  width: 100%;
  max-width: 800px;
  position: relative;
  z-index: -1;
  opacity: 0.9;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  line-height: 1.3;
  padding: 0 20px 0 20px;
  border-bottom: 1px solid rgba(28, 110, 164, 0.5);
}

.services {
  min-height: 100vh;
  margin-top: 65px;
}

.services__image {
  height: auto;
  width: 100%;
  max-width: 787px;
}

.services__descr {
  font-size: calc(25px + 20 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
  position: relative;
}

.services__descr::before {
  content: "";
  position: absolute;
  left: 6%;
  bottom: -7px;
  width: 150px;
  height: 14px;
  -webkit-transform: skew(-12deg) translateX(-50%);
      -ms-transform: skew(-12deg) translateX(-50%);
          transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.offer {
  min-height: 75vh;
  margin-top: 45px;
}

.offer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer__info .doc {
  font-size: calc(25px + 10 * ((100vw - 320px) / 1600));
  position: relative;
}

.offer__info .doc::before {
  content: "";
  position: absolute;
  left: 16%;
  bottom: -7px;
  width: 180px;
  height: 14px;
  -webkit-transform: skew(-12deg) translateX(-50%);
      -ms-transform: skew(-12deg) translateX(-50%);
          transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.offer__info p {
  margin-bottom: 20px;
}

.offer__info a {
  color: rgba(76, 60, 255, 0.86);
  text-decoration: underline;
}

.offer__descr {
  font-size: calc(25px + 20 * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
  position: relative;
}

.offer__descr::before {
  content: "";
  position: absolute;
  left: 9%;
  bottom: -7px;
  width: 215px;
  height: 14px;
  -webkit-transform: skew(-12deg) translateX(-50%);
      -ms-transform: skew(-12deg) translateX(-50%);
          transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.offer__cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
}

.offer__map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.offer__map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.agreement {
  font-size: 0.9rem;
  color: #000;
  line-height: 1.2em;
  text-align: center;
}

.agreement > a {
  color: rgba(76, 60, 255, 0.86);
  text-decoration: underline;
}

.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 50px;
  background: rgba(238, 111, 87, 0.5);
  border-radius: 30px;
}

.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}

.form-left-decoration {
  bottom: 60px;
  left: -30px;
}

.form-right-decoration {
  top: 60px;
  right: -30px;
}

.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: rgb(255, 240, 212);
}

.form-left-decoration:before {
  top: -20px;
}

.form-left-decoration:after {
  top: 20px;
  left: 10px;
}

.form-right-decoration:before {
  top: -20px;
  right: 0;
}

.form-right-decoration:after {
  top: 20px;
  right: 10px;
}

.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(238, 111, 87, 0.5);
}

.form-inner {
  padding: 50px;
}

.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
}

.form-inner input[type=submit] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}

.form-inner input[type=submit]:hover {
  background-color: #f7956b;
}

.form-inner textarea {
  resize: none;
}

.form-inner h4 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

@media (max-width: 992px) {
  .about {
    height: auto;
  }

  .services__image {
    max-width: 500px;
  }

  .services {
    height: auto;
  }

  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .offer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .popup__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popup__img {
    width: 250px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .popup__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .descr {
    margin-bottom: 35px;
  }

  .header__container {
    margin-top: 10%;
  }

  .hero__name {
    margin: 36px 0 37px 0;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
}

@media (max-width: 61.99875em) {
  .hero__description {
    max-width: 50%;
  }

  .offer__cont {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

@media (max-width: 47.99875em) {
  .tabs__body img {
    margin-bottom: 20px;
  }

  .body__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .hero__description {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu {
    border-bottom: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    background-color: rgb(255, 240, 212);
    padding: 200px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
    overflow: auto;
  }

  .menu__body._active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list li:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(0, 0, 0);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .about__img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__text {
    border-bottom: none;
    line-height: 1;
    padding: 20px 0 20px 0;
  }

  .bord {
    border-bottom: 1px solid rgba(28, 110, 164, 0.5);
  }

  .decor {
    margin: 25px auto 25px;
  }
}

@media (max-width: 29.99875em) {
  .popup__cards-item img {
    max-width: 70px;
  }
}

@media (max-height: 830px) {
  .footer {
    margin-top: 50px;
  }
}