//====================================================================================================
.footer {
    @include adaptiv-font(20,15);
    border-top:  1px solid rgba(13, 124, 3, 0.5);
    box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.28);
    @media (max-height:830px) {
		margin-top: 50px;
	}
}

.footer__content {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        flex-direction: column;
        padding: 15px 0;
    }
}

//====================================================================================================
